@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}



.fundo {

    max-width: 90%;
    height: auto;
    background-color: #000;
    background-image: url("./img/comeia.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
} 

.seta {
  position: absolute;
   width: 300px;
   margin-top: 100px;
   margin-left: 130px;
}

.seta:hover {
  border: 3px solid gold;
  border-radius: 15px;
  box-shadow: 0 0 15px gold;
}

/* body {

 background-color: #000;
    background-image: url("./img/fundo.azul.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 1px solid #ffcf4a; 
    
} */

/* body {

 background-color: #000;
    background-image: url("./img/fundo.dourado.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 1px solid #ffcf4a; 
    
} */

/* body {

 background-color: #000;
    background-image: url("./img/fundo.vermelho.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 1px solid #ffcf4a; 
    
} */

.ganhos {
  position: absolute;
  width: 18%;
  top: 140px;
  left: 42%;
  border-radius: 10px;


}
.ganhos:hover{
  border:#ffcf4a solid;
}

.valores-tabela {
  position: absolute;
  width: 40%;
  top: 140px;
  border:#51ecf2 solid;
  border-radius: 30px;
  
}

.valores-tabela:hover {
  border:#ffcf4a solid;
}

.header {
  position: absolute; 
  background-color: #000000; 
  width: 100%;
  height: 90px;
  display: flex;
  border-bottom: 1px solid #ffcf4a; 
}

.logo-header {
  width: 90px;
  position: absolute;
  top: 2px;
}

.header-name {
  position: absolute;
  left: 80px;
  top: 20px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  text-shadow:
  -1px -1px 0 #f2b71d;
  margin: 0px 30px;

}

.header-name span {
  color: #ffcf4a;
  font-weight: bold;
  font-size: 30px;
  position: absolute;
  top: 10px;
    color: #ffcf4a;
  text-shadow: 
    -1px -1px 0 #82807b; 
}



.header-location {
  position: absolute;
  color: #f52b86;
  text-decoration: none;
  font-size: 20px;
  margin-top: 40px;
  left: 350px;
  z-index: 10; 
}

.header-location:hover {
  color: #ffcf4a;
  font-weight: bold;
  transition: 0.3s;
}

.header-location1 { 
    position: absolute;
    color: #f52b86;
    text-decoration: none;
    font-size: 20px;
    margin-top: 40px;
    
    margin-right: 10px;

    left: 250px;

}


.header-location1:hover {
  color: #ffcf4a;
  font-weight: bold;
  transition: 0.3s;
}

.header-location2 {
  position: absolute;
  color: #f52b86;
  text-decoration: none;
  font-size: 20px;
  margin-top: 40px;
  left: 340px;
}

.header-location2:hover {
  color: #ffcf4a;
  font-weight: bold;
  transition: 0.3s;
}

.header-location3 {
  position: absolute;
  color: #f52b86;
  text-decoration: none;
  font-size: 20px;
  margin-top: 40px;
  left: 440px;
}

.header-location3:hover {
  color: #ffcf4a;
  font-weight: bold;
  transition: 0.3s;
}

.header-location3:hover {
  color: #ffcf4a;
  font-weight: bold;
  transition: 0.3s;
}

.header-location4 {
  position: absolute;
  color: #f52b86;
  text-decoration: none;
  font-size: 20px;
  margin-top: 40px;
  left: 550px;
}

.header-location4:hover {
  color: #ffcf4a;
  font-weight: bold;
  transition: 0.3s;
}


button {
  position:sticky;
  cursor: pointer;
  background-color: #f52b86;
  border-radius: 30px;
  width: 200px;
  height: 50px;
  color: hsl(0, 0%, 100%);
  top: 40px;
  left: 1700px;
  margin-right: 40px;

}

button:hover {
  border:#ffcf4a solid;
}

.lion {
  position: absolute;
  width: 25%;
  margin-top: 100px;
  position: relative;
}


.woman {
  position: absolute;
  width: 25%;
  margin-left: auto;
  right:  40px;
  bottom: 10px;
  background-image: url('sua-imagem.jpg');
  background-repeat: no-repeat;
  background-size: cover; /* Faz a imagem cobrir o espaço */
  background-position: bottom center; /* Alinha na parte inferior e centraliza */
}



.agency {
  position: absolute;
  width: 25%;
  bottom: 10px;
  left: 100px;
}




@media (max-width: 880px) {
  

}